.app-add-form {
   margin-top: 30px;
   padding: 25px;
   background-image: url("../../img/1626831767_3-kartinkin-com-p-kamuflyazh-temnii-fon-krasivo-3.jpeg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 4px;
   box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
   color: #fff;
}

.add-form {
   margin-top: 20px;
}

.add-form input {
   width: 350px;
   margin-right: 20px;
}